.back{
    height: 50px;
    background-color:#9cd6f4;

}

.logo{
    float: left;
    display:inline;
    width: 50%;
    height: 50%;
    align-items: left;    
}


.highlight {
    background-color: yellow;
}

.int{
    color:white;
    background-color: #7fa6fb;
    text-align: left;
}

.linea{
    background-color: #dfe5f2;
}

.lineb{
    background-color: #ffffff;
}