body{
    margin:0;
}

.back{
    height: 100px;
    background-color:#9cd6f4;
    padding-top: 10px;
    padding-left: 15px;

}

.logo{
    height: 50px;
    
}


.highlight {
    background-color: yellow;
}

.int{
    color:white;
    background-color: #7fa6fb;
    text-align: left;
}

.linea{
    background-color: #dfe5f2;
}

.lineb{
    background-color: #ffffff;
}

.col25{
    width: 25%;
}

.col50{
    width: 50%;
}

.footer{
    backgro
} 