body{
    margin: 0;
}

/* HEADER */

.page-header{
    height: 100px;
    background-color:#9cd6f4;
    padding: 40px 10px;
}

.logo{
    height: 50px; 
}

.page-title{
    font-size: 36px;
    margin-bottom: 0;
}

.article-author,
.article-date{
    color: #666666;
    margin: 0;
}

.article-date{
    font-size: 12px;
}

.article-images{
    margin: 20px 0;
}

.table{
    width: 100%;
}

.tr-head{
    color:white;
    background-color: #7fa6fb;
    text-align: left;
}

.tr-body-odd{
    background-color: #dfe5f2;
}

.tr-body-odd2{
    background-color: #ffffff;
}

.W25{
    width: 25%;
}

.W50{
    width: 50%;
}

.footer{
    background-color: #313a6b;
    height: 75px;
    margin-top: 20px;
    padding-top: 15px;
    color: #ffffff;
    text-align: center;
} 